---

---

<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between items-center py-4">
      <div class="flex items-center">
        <img
          src="/logo-ps.png"
          alt="PS Contabilidades"
          class="w-10 h-10 mr-3"
        />
        <div class="text-2xl font-semibold text-gray-950">
          PS Contabilidades
        </div>
      </div>
      <ul class="hidden md:flex space-x-6">
        <li>
          <a
            href="#inicio"
            class="text-gray-700 hover:text-primary transition duration-300"
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="#servicios"
            class="text-gray-700 hover:text-primary transition duration-300"
            >Servicios</a
          >
        </li>
        <li>
          <a
            href="#sobre-mi"
            class="text-gray-700 hover:text-primary transition duration-300"
            >Sobre Mí</a
          >
        </li>
        <li>
          <a
            href="#contacto"
            class="text-gray-700 hover:text-primary transition duration-300"
            >Contacto</a
          >
        </li>
      </ul>
      <button class="md:hidden text-gray-700 focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </nav>
  </div>
</header>
