---
interface Props {
  titulo: string;
  descripcion: string;
  icono: string;
}

const { titulo, descripcion, icono } = Astro.props;
---

<div
  class="bg-white rounded-lg shadow-lg p-6 transition duration-300 hover:shadow-xl hover:-translate-y-1"
>
  <div class="text-4xl mb-4 text-primary">{icono}</div>
  <h3 class="text-xl font-semibold mb-2 text-primary">{titulo}</h3>
  <p class="text-gray-600">{descripcion}</p>
</div>
